/* Wrapper */

.product-info-wrapper {
  border-top: 1px solid var(--light-gray);
  padding-top: var(--space-md);
}

/* Header */

.product-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: var(--space-sm) 0;
}

.title {
  font-weight: 600;
  font-size: var(--font-md);
  color: var(--charcoal);
}

/* Table */

.info-table {
  margin-top: var(--space-sm);
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md) 0;
  border-top: 1px solid var(--lightest-gray);
}

.label {
  font-weight: 500;
  font-size: var(--font-md);
  color: var(--dark-gray);
}

.value {
  font-size: var(--font-md);
  color: var(--gray);
}