.hero-carousel {
  position: relative;
  width: 100%;
  height: 520px;
}

.hero-swiper {
  width: 100%;
  height: 100%;
}

.carousel-slide {
  width: 100%;
  height: 520px;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom Arrows */

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

/* Pagination Dots */
.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: white;
}