/* =================================
   GOOGLE FONT
================================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");


/* =================================
   GLOBAL DESIGN TOKENS
================================= */
:root {
  color-scheme: light;

  /* Layout */
  --navbar-height: 52px;
  --sidebar-width: 260px;
  --sidebar-collapsed-width: 52px;

  /* Spacing (optional tokens) */
  /*
  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 18px;
  --space-xxl: 24px;
  */

  /* Font Sizes */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 36px;

  /* Colors */
  --teal: #3fb2c4;
}



/* =================================
   GLOBAL RESET
================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* =================================
   BASE HTML/BODY STYLES
================================= */
html,
body {
  height: 100%;
}

body {
  margin: 0;

  /* Font stack */
  font-family: "Roboto",
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;

  font-size: var(--font-md);

  background: #ffffff;
  color: #0f172a;
}


/* =================================
   PAGE WRAPPER
================================= */
.page {
  min-height: 100vh;
  padding-top: 22px;
}


/* =================================
   ACCESSIBILITY
================================= */
@media (prefers-reduced-motion: reduce) {

  .fc__stage,
  .fc__item,
  .fc__controls button {
    transition: none !important;
  }

}

.common-section-padding {
  padding: 30px 50px;
}


.eapps-widget-toolbar {
  display: none !important;

}

.WidgetBackground__ContentContainer a[href*="https://elfsight.com/google-reviews-widget"] {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

a[href*="elfsight.com"] {
  display: none !important;
}